:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --landing-card-one-rgb: 3, 87, 57;
  --landing-card-two-rgb: 187, 121, 61;
  --landing-card-three-rgb: 200, 45, 45;
  --landing-background-rgb: 217, 217, 217;
  --border-color: rgb(200, 200, 200) 2px solid;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: red 1px solid; */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(0, 0, 0);
  background: rgb(var(--landing-background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.root-container {
  max-width: var(--max-width);
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  max-width: var(--max-width);
  margin: 0 auto;
}

.spacer_small {
  height: 10px;
}

.spacer {
  height: 50px;
}

ul {
  list-style-type: none;
}
