.header {
  width: 100%;
  height: 90px;
  border-bottom: var(--border-color);
  display: flex;
}

.header_nav {
  width: 100%;
}

.button_signin {
  background-color: rgb(var(--landing-background-rgb));
  color: black;
  border: 2px black solid;
}

.button_signin:hover {
  background-color: black;
  color: rgb(var(--landing-background-rgb));
}

.button_joinnow {
  background-color: black;
  color: rgb(var(--landing-background-rgb));
  border: 2px black solid;
}

.button_joinnow:hover {
  background-color: rgb(var(--landing-background-rgb));
  color: black;
  border: 2px black solid;
}

.navbar {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.button_container {
  display: flex;
  align-items: center;
}

.hero_image {
  padding-left: 1rem;
  height: auto;
  display: flex;
  align-items: center;
  text-align: right;
  position: inherit;
  top: 15px;
  left: -75px;
}

.link_container {
  display: flex;
  align-items: center;
}

.link {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  width: max-content;
}

.link:hover {
  color: gray;
}

.spacer {
  height: 10px;
}

.links {
  display: flex;
}

/* Mobile */
@media (max-width: 700px) {
  .links,
  .button_joinnow,
  .button_signin {
    display: none;
  }

  .menu {
    width: 50px;
    display: flex;
    align-items: center;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
  .side_menu {
    display: none;
  }

  .menu {
    z-index: -10;
    display: none;
    position: absolute;
    width: 50px;
    display: flex;
    align-items: center;
  }

  .hamburger_menu {
    display: none;
    padding-right: 1rem;
    width: 100px;
  }
}
