.path {
  font-family: raleway;
  font-weight: 500;
  font-size: 1rem;
}

.page {
  font-family: raleway;
  font-weight: 700;
  font-size: 1rem;
}

.row {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
}

.title {
  font-family: raleway;
  font-weight: 700;
  color: rgb(var(--landing-background-rgb));
  text-align: center;
  font-size: 2rem;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.description {
  color: rgb(var(--landing-background-rgb));
}

.header {
  width: 100%;
  margin: 0 auto;
  /* text-align: center; */
  align-items: center;
  flex-direction: row;
  display: flex;
  height: 40vh;
}
