.container {
  position: absolute;
  border: var(--border-color);
  border-radius: 0.3rem;
  z-index: 10;
  width: auto;
  padding: 0.5rem;
  /* background: rgba(255, 255, 255, 0.7); */
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
}

.container::after {
}

@media only screen and (max-width: 780px) {
  .container {
    right: -100px;
    top: 13px;
  }
}

@media only screen and (min-width: 781px) {
  .container {
    right: 0px;
    top: 13px;
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .container {
    background: rgba(255, 255, 255, 0.7);

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.no_border {
  border: none;
}

.button_style {
  margin: 0 auto;
  padding-left: 0.125rem;
  padding-right: 0.125rem;
  height: 40px;
  border-radius: 20px;
  width: 100%;
  background-color: white;
  color: black;
  font-size: 1rem;
}

.button_style:hover {
  margin: 0 auto;
  padding-left: 0.125rem;
  padding-right: 0.125rem;
  height: 40px;
  border-radius: 20px;
  width: 100%;
  background-color: black;
  color: white;
  border: white 2px solid;
  font-size: 1rem;
}
