@media (min-width: 801px) {
  .footer {
    width: 100%;
  }

  .footer_container {
    border-top: var(--border-color);
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .social_icons {
    display: flex;
    width: fit-content;
    justify-content: space-between;
  }
  .spacer {
    height: 25px;
  }

  .footer_row {
    display: flex;
    width: 80%;
    justify-content: space-between;
  }

  .link {
    font-family: raleway;
    font-weight: 500;
  }
}

@media (max-width: 800px) {
  .footer {
    text-align: center;
    width: 100%;
  }

  .footer_container {
    border-top: rgb(200, 200, 200) 2px solid;

    max-width: var(--max-width);
    margin: 0 auto;
  }

  .social_icons {
    display: flex;
    width: fit-content;
    justify-content: space-between;
    margin: 0 auto;
  }
  .spacer {
    height: 25px;
  }

  .footer_row {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
  }

  .link {
    font-family: raleway;
    font-weight: 500;
  }
}

.social_image {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
