[submodule "beanbag-coffee-backend"]
	path = beanbag-coffee-backend
	url = https://github.com/joshl26/beanbag-coffee-backend.git
[submodule "beanbag-coffee-storefront"]
	path = beanbag-coffee-storefront
	url = https://github.com/joshl26/beanbag-coffee-storefront.git
