.container {
  background: rgb(245, 245, 245);
  padding: 1rem;
  border-radius: 0.25rem;
}

.tooltip {
  background: rgb(var(--landing-background-rgb));
  padding: 1rem;
  border: var(--border-color);
  z-index: 1000;
}

.flex_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.subtotal,
.discount,
.giftcard,
.shipping,
.tax {
  font-family: raleway;
  font-size: 1rem;
  font-weight: 700;
}

.subtotal_total,
.discount_total,
.giftcard_total,
.shipping_total,
.tax_total {
  font-size: 1rem;
  font-weight: 400;
}

.total {
  font-family: raleway;
  font-size: 1rem;
  font-weight: 900;
}

.total_total {
  font-family: raleway;
  font-size: 1rem;
  font-weight: 800;
}
