.button_style {
  border: black 2px solid;
  margin: 0 auto;
  padding-left: 0.125rem;
  padding-right: 0.125rem;
  height: 40px;
  border-radius: 20px;
  width: 125px;
  background-color: white;
  color: black;
}

.button_style:hover {
  margin: 0 auto;
  padding-left: 0.125rem;
  padding-right: 0.125rem;
  height: 40px;
  border-radius: 20px;
  width: 125px;
  background-color: black;
  color: white;
  border: white 2px solid;
}
