.image {
  margin-right: 1rem;
  border-radius: 50%;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.spacer {
  height: 25px;
}

.title {
  font-family: raleway;
  font-weight: 500;
}

.image_container {
  height: auto;
}
