.button_style {
  background-color: rgb(var(--landing-background-rgb));
  color: black;
  border: 2px black solid;
  width: 100%;
}

.button_style:hover {
  background-color: black;
  color: rgb(var(--landing-background-rgb));
}
